* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main {
    background-color: white;
    flex-direction: column;
    align-items: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
}

.hero-section {
    width: 100%;
    height: 380px;
    display: flex;
    background-size: cover;   
}

.hero-content {
    width: 100%;
    color: white;
    text-align: left;
    background-color: rgb(27, 27, 27, 0.98);
    display: flex;
    flex-direction: column;
}
.hero-title-design {
    display: flex;
    gap: 15px;
    position: relative;
    top: 120px;
    margin-left: 100px;
}

.hero-title {
    font-size: 3.5rem;
    font-weight: bold;
}

.hero-text {
    font-size: 1.2rem;
    margin-top: 30px;
    max-width: 70%;
    text-align:  justify;
}

.vl1 {
    height: 50px;
    width: 2px;
    background-color:  rgb(237, 237, 237);
    border: none;
    margin-top: 5px;
}

@media (max-width: 1059px) {
    .staff-container {
    border: 1px solid #ccc;
    max-width: 550px;
    width: 60%; /* adjust width for 2 per row */
    min-width: 400px;
    height: 200px;
    padding: 15px;
    box-sizing: border-box;
    background-color: #f9f9f9;
    border-radius: 10px;
}
}

/* Maps Section  */
/* Maps Section */
.maps-section {
    padding: 3%;
    display: flex;
    justify-content: center;
}
